Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

feat(claude-code): wire tech-profile hooks declaratively
  docs/plans/2026-06-08-tech-hooks-declarative-design.md
  modules/business/home-manager/default.nix
  modules/home-manager/claude-code/default.nix
  modules/home-manager/claude-code/hooks/memory-reminder.sh
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

chore(flake): update inputs (claude-code-nix, code-cursor-nix, devenv, home-manager)
  flake.lock
Due: none

docs(reboot): mark Strix Point sync-flood investigation FIXED + verified
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
Due: check-markdown-frontmatter, check-temporal-markers

fix(ci): unblock weekly dependency update workflow (IFD + cachix cache) (#18)
  .github/workflows/update-dependencies.yml
Due: none

chore(flake): update inputs (antigravity-nix, claude-code-nix, code-cursor-nix, devenv, home-manager)
  flake.lock
Due: none

fix(ci): file weekly dependency-update PRs against personal, not master
  .github/workflows/update-dependencies.yml
Due: none

feat(ama-biz-001): set PLAYWRIGHT_BROWSERS_PATH for gstack (#16)
  hosts/ama-biz-001/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(ci): file weekly dependency-update PRs against personal, not master (#21)
  .github/workflows/update-dependencies.yml
Due: none

fix(framework-16): load uvcvideo explicitly so the webcam works from cold boot
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(flake): update inputs (nixpkgs, home-manager, devenv, claude-code-nix)
  flake.lock
Due: none

chore: update flake inputs
  flake.lock
Due: none

feat(framework-16): detect EC-level CPU clamp and warn to power-drain
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(framework-16): lift MT7925 BT kernel pin, track main nixpkgs 6.18.35
  flake.lock
  flake.nix
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(systemd): raise DefaultLimitMEMLOCK to 1GiB for io_uring dev tooling
  hosts/common/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(hm): daily ODCEC website-recovery timer
  modules/home-manager/default.nix
  modules/home-manager/development/odcec-website-recovery.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

policy(claude): paid-external-API iron rules after the 2026-07-10 Gemini incident
  modules/home-manager/claude-code/company-policies.md
Due: none

feat(framework-16): detect EC PD-controller wedge and warn to power-drain
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(claude-policy): drop stale model name from checkpointing rule
  modules/home-manager/claude-code/company-policies.md
Due: none

fleet(claude): lean plugin baseline for fresh machines
  modules/home-manager/claude-code/company-config.json
Due: none

policy(claude): make company policy match deployed reality
  modules/common/claude-code-managed.nix
  modules/home-manager/claude-code/company-policies.md
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(claude): anthropic spend tripwire + institutional-memory backup (fleet)
  modules/home-manager/claude-code/anthropic-usage-alert.nix
  modules/home-manager/claude-code/company-policies.md
  modules/home-manager/claude-code/default.nix
  modules/home-manager/claude-code/memory-backup.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

policy(claude): missing CLI tool -> ephemeral nix-shell, never a blocker
  modules/home-manager/claude-code/company-policies.md
Due: none

chore: update paths for amatino-app/amatino-crm repo renames
  modules/business/home-manager/business-workflow.md
  modules/home-manager/cloud-storage/backup-sync.nix
  modules/home-manager/default.nix
  modules/home-manager/development/lsp.nix
  modules/home-manager/development/odcec-website-recovery.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

chore: update paths for amatino-app/amatino-crm repo renames (#25)
  modules/business/home-manager/business-workflow.md
  modules/home-manager/cloud-storage/backup-sync.nix
  modules/home-manager/default.nix
  modules/home-manager/development/lsp.nix
  modules/home-manager/development/odcec-website-recovery.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

chore(odcec): retire website-recovery systemd timer — replaced by Cloud Run scheduler
  modules/home-manager/default.nix
  modules/home-manager/development/odcec-website-recovery.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(odcec): retire website-recovery systemd timer — replaced by Cloud Run scheduler (#24)
  modules/home-manager/default.nix
  modules/home-manager/development/odcec-website-recovery.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs (2026-07-16 run) + add gedit
  flake.lock
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs (2026-07-16 run) + add gedit (#26)
  flake.lock
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(claude): quality-feedback-loop section in company policies
  modules/home-manager/claude-code/company-policies.md
Due: none

fix(claude): ground quality-loop wording in real mechanisms
  modules/home-manager/claude-code/company-policies.md
Due: none

feat(claude): quality-feedback-loop section in company policies (#28)
  modules/home-manager/claude-code/company-policies.md
Due: none

fix(backup): repair amatino-reorg paths that silently disabled 3 backups; add gbrain
  modules/home-manager/cloud-storage/backup-sync.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
