Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

feat: add ADE upstream monitor systemd timer (twice daily)
  modules/home-manager/default.nix
  modules/home-manager/development/ade-monitor.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: disable NVIDIA RTD3 and add display recovery watchdog
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock
Due: none

feat: amatino-repos module — auto-clone, env vars, Claude Code plugin
  modules/business/home-manager/amatino-repos.nix
  modules/business/home-manager/default.nix
  modules/home-manager/development/ade-monitor.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update deps, company policies, and autonomous scripts
  devenv.lock
  docs/archive/DESKTOP_ASSISTANT_PROJECT_SETUP.md
  docs/archive/DOCUMENTATION_AUDIT_2025-10-06.md
  docs/archive/GOOGLE_DRIVE_MCP_SETUP.md
  docs/archive/MCP_AND_N8N_ARCHITECTURE_ANALYSIS.md
  docs/archive/claude-automation-system-OLD.md
  docs/life-context/README.md
  docs/life-context/commands.md
  docs/life-context/sunsama-integration.md
  docs/life-context/taxonomy.md
  docs/planning/active/NIXOS_CLAUDE_DEEP_INTEGRATION.md
  docs/plans/2026-02-14-nixclaw-design.md
  docs/plans/2026-02-14-nixclaw-implementation.md
  docs/plans/2026-02-15-demo-reports-design.md
  docs/plans/2026-02-15-demo-reports-implementation.md
  docs/plans/2026-02-15-host-rename-business-setup.md
  docs/plans/2026-02-15-host-rename-implementation.md
  docs/plans/2026-02-16-readme-overhaul-design.md
  docs/plans/2026-02-16-readme-overhaul-implementation.md
  docs/plans/2026-02-21-claudeos-business-design.md
  docs/plans/2026-02-21-claudeos-implementation.md
  docs/plans/2026-02-25-business-ai-profiles-design.md
  docs/plans/2026-02-25-business-ai-profiles-implementation.md
  docs/plans/2026-02-26-plasma-business-desktop-design.md
  docs/plans/2026-02-26-plasma-business-desktop-implementation.md
  docs/plans/2026-02-26-restore-machine-script-design.md
  flake.lock
  modules/core/packages.nix
  modules/home-manager/claude-code/company-policies.md
  modules/home-manager/default.nix
  scripts/claude-autonomous.sh
  scripts/claude-night-batch.sh
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

chore: deep cleanup for public presentation
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/README.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add ClawNix to AI toolchain and related repos
  README.md
Due: none

docs: rewrite README for HN audience — concrete examples, less marketing
  README.md
Due: none

feat: enable passaggio-contabile plugin in Claude Code settings
  modules/business/home-manager/amatino-repos.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: use local plugin paths instead of private GitHub marketplace
  modules/business/home-manager/amatino-repos.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: silence Home Manager deprecation warnings for stateVersion 24.05
  modules/home-manager/default.nix
  modules/home-manager/development/tools.nix
  modules/home-manager/file-management/yazi.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: Framework 16 kernel/driver fixes and Bluetooth A2DP-only audio
  devenv.lock
  flake.lock
  modules/core/packages.nix
  modules/hardware/framework-16.nix
  profiles/desktop/base.nix
  rebuild-nixos
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

fix: use Claude Code plugin CLI for amatino plugin provisioning
  modules/business/home-manager/amatino-repos.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: disable Ghostty bell attention hint to prevent dock badge
  modules/home-manager/terminal/ghostty.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: disable Ghostty bell attention hint to prevent dock badge (#14)
  modules/home-manager/terminal/ghostty.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: update flake inputs and fix LSP package paths for newer nixpkgs
  flake.lock
  modules/home-manager/development/lsp.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Google Workspace CLI (gws) and relocate google-cloud-sdk to common
  devenv.lock
  flake.lock
  flake.nix
  modules/common/packages.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: disable Goodix fingerprint autosuspend to prevent EC log overflow
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor: make Framework 16 NVIDIA dGPU toggleable, disable for ama-tech-001
  flake.nix
  hosts/ama-tech-001/default.nix
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: force Claude Code max effort level via env vars
  flake.lock
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(ama-tech-001): add crash diagnostics module for reboot investigation
  hosts/ama-tech-001/crash-diagnostics.nix
  hosts/ama-tech-001/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(framework-16): disable amdgpu IPS2 to address BOE panel flicker
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(rebuild-nixos): add --boot mode to stage configs for next reboot
  rebuild-nixos
Due: shellcheck

feat(packages): add OpenAI Codex CLI; temporarily disable Cursor
  modules/core/npm-versions.nix
  modules/core/packages.nix
  scripts/update-npm-versions.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

chore(fish): add ~/.bun/bin to PATH; stop sourcing anthropic.fish
  modules/home-manager/shell/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(flake): bump inputs and skip cli-helpers tests for nixpkgs#514500
  flake.lock
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(crash-diagnostics): bound cros_ec console_log read with timeout
  hosts/ama-tech-001/crash-diagnostics.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(claude.md): reframe as ClaudeOS — fleet mission, invariants, supply-chain commands
  CLAUDE.md
  modules/home-manager/claude-code/company-policies.md
Due: none

docs(plans): claude code 2026 advancements audit with P0/P1/P2 roadmap
  docs/plans/2026-05-18-claude-code-advancements-audit.md
Due: check-markdown-frontmatter, check-temporal-markers

feat(business): add gstack skill collection for Claude profile
  modules/business/home-manager/default.nix
  modules/business/home-manager/gstack-install.nix
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(plans): claudeos P0 implementation plan — 27 tasks across 5 phases
  docs/plans/2026-05-18-claudeos-p0-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

feat(flake): add devenv as flake input, switch packages.nix to upstream
  devenv.lock
  flake.lock
  flake.nix
  modules/common/packages.nix
  rebuild-nixos
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

chore(gitignore): ignore .worktrees/ for ad-hoc and autonomous workflows
  .gitignore
Due: none

chore(flake): lock devenv transitive inputs after baseline check
  flake.lock
Due: none

chore(claude): remove stale Phase 8 adaptive learning artifacts
  .claude/ANALYSIS_SUMMARY.txt
  .claude/CLAUDE_CODE_ANALYSIS.md
  .claude/mcp.json
  .claude/permissions_auto_generated.md
Due: none

chore(flake): remove archived claude-automation input
  devenv.nix
  flake.lock
  flake.nix
  rebuild-nixos
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
