Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  entry: bash -c 'if grep -nE "guyfawkes" "$@" | grep -v "USER-SPECIFIC" | grep -v "username = "; then echo "Found hardcoded username!"; exit 1; fi'
  language: system
  pass_filenames: true

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

chore: update changelog and lock files
  CHANGELOG.md
  devenv.lock
  flake.lock
Due: none

fix: replace deprecated programs.adb with android-tools package
  hosts/nixos/default.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock
  flake.lock
Due: none

feat: add bubblewrap sandboxing for Claude Code
  CHANGELOG.md
  README.md
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(direnv): reduce verbose shell output
  devenv.nix
  modules/core/packages.nix
  modules/home-manager/development/tools.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update changelog and flake inputs
  .claude/permissions_auto_generated.md
  CHANGELOG.md
  flake.lock
Due: none

chore: update flake inputs
  flake.lock
  flake.lock.backup
Due: none

docs: update README with tier-based permission routing
  README.md
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor(sandbox): replace custom bubblewrap with Anthropic srt
  README.md
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(security): implement 8-layer supply chain hardening
  CHANGELOG.md
  docs/architecture/SUPPLY_CHAIN_HARDENING.md
  flake.lock
  modules/core/npm-versions.nix
  rebuild-nixos
  scripts/update-npm-versions.sh
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

feat(srt): add NixOS wrapper for Anthropic sandbox-runtime
  README.md
  modules/core/npm-versions.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add claude-autonomous worker and improve rebuild-nixos
  CHANGELOG.md
  flake.lock
  hosts/nixos/default.nix
  modules/core/packages.nix
  rebuild-nixos
  scripts/claude-autonomous.sh
  scripts/claude-morning-review.sh
  scripts/claude-night-batch.sh
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add multi-host support for Framework 16 laptop
  flake.lock
  flake.nix
  hosts/common/default.nix
  hosts/framework-16/default.nix
  hosts/framework-16/hardware-configuration.nix
  hosts/nixos/default.nix
  modules/hardware/framework-16.nix
  modules/hardware/thinkpad.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(gc): keep 30 days of generations instead of only 2
  hosts/common/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(rebuild): add --fresh flag to bypass eval-cache
  rebuild-nixos
Due: none

docs: update README with multi-host architecture and new flags
  README.md
Due: none

feat: add Handy speech-to-text package for NixOS
  .claude/permissions_auto_generated.md
  CHANGELOG.md
  flake.nix
  modules/core/packages.nix
  overlays/handy.nix
  pkgs/default.nix
  pkgs/handy.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add Handy speech-to-text to README
  README.md
  flake.lock
Due: none

fix: rebuild-nixos reliability and automation updates
  flake.lock
  flake.nix
  hosts/common/default.nix
  modules/core/packages.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: prevent pipefail exit on grep pattern mismatches
  rebuild-nixos
Due: none

fix: rebuild-nixos exit code and generation detection
  rebuild-nixos
Due: none

fix: protect all fd pipelines against pipefail exit code 1
  rebuild-nixos
Due: none

fix: source environment.d secrets in rebuild-nixos
  rebuild-nixos
Due: none

fix: comprehensive pipefail protection audit
  rebuild-nixos
Due: none

fix: export ANTHROPIC_API_KEY after sourcing from environment.d
  rebuild-nixos
Due: none

fix: accept 'a' shortcut for automatic generation cleanup
  rebuild-nixos
Due: none

feat: add testing infrastructure for rebuild-nixos
  .github/workflows/test.yml
  .pre-commit-config.yaml
  devenv.nix
  tests/bash/helpers/test-helpers.bash
  tests/bash/rebuild-nixos/test-input-parsing.bats
  tests/bash/rebuild-nixos/test-pipefail-protection.bats
  tests/bash/rebuild-nixos/test-script-structure.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add testing section to README
  README.md
Due: none

feat: add life-context system, EOD workflows, and handy fixes
  CHANGELOG.md
  docs/life-context/README.md
  docs/life-context/commands.md
  docs/life-context/sunsama-integration.md
  docs/life-context/taxonomy.md
  flake.lock
  modules/home-manager/shell/fish.nix
  pkgs/handy.nix
  scripts/claude-autonomous.sh
  scripts/eod-cleanup.sh
  scripts/review-files.sh
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs: add fresh installation guide with Framework 16 instructions
  INSTALL.md
Due: none

feat: replace handy with vibetyper for speech-to-text
  flake.nix
  modules/core/packages.nix
  overlays/handy.nix
  overlays/vibetyper.nix
  pkgs/default.nix
  pkgs/handy.nix
  pkgs/vibetyper.nix
  profiles/desktop/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock dependencies
  flake.lock
Due: none

docs: update changelog with life-context system
  CHANGELOG.md
Due: none

feat: add pencil-dev package and update vibetyper to v1.1.2
  flake.nix
  modules/core/packages.nix
  overlays/pencil-dev.nix
  pkgs/pencil-dev.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(pencil-dev): update hash for latest AppImage
  pkgs/pencil-dev.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake dependencies and changelog
  CHANGELOG.md
  devenv.lock
  flake.lock
Due: none

feat: add Google Drive integration with rclone mount and smart-office-open
  modules/core/packages.nix
  modules/home-manager/cloud-storage/rclone.nix
  modules/home-manager/default.nix
  modules/home-manager/file-management/yazi.nix
  scripts/smart-office-open.sh
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add agent-browser CLI wrapper with Playwright support
  modules/core/npm-versions.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$
  nixpkgs-fmt: any of: \.nix$
