Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

.pre-commit-config.yaml:

# Pre-commit hooks for NixOS configuration quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard hooks for file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
        files: \.(yaml|yml)$
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # NixOS-specific: Use system-installed tools instead of downloading
  # These are already available via your NixOS packages
  # Note: markdownlint removed (not in system packages, can be added if needed)

  # Local custom hooks
  - repo: local
    hooks:
      # Check for required YAML frontmatter in documentation
      - id: check-markdown-frontmatter
        name: Check Markdown frontmatter
        entry: python3 scripts/check-frontmatter.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Warn about temporal markers in documentation
      - id: check-temporal-markers
        name: Warn about temporal markers
        entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Check for hardcoded usernames (except in comments marked USER-SPECIFIC)
      - id: check-hardcoded-usernames
        name: Check for hardcoded usernames
        entry: bash -c 'if grep -nE "guyfawkes" "$@" | grep -v "USER-SPECIFIC" | grep -v "username = "; then echo "Found hardcoded username!"; exit 1; fi'
        language: system
        files: \.(nix|sh|fish)$
        pass_filenames: true

      # Format Nix files using system nixpkgs-fmt (installed via NixOS)
      # This replaces the remote nixpkgs-fmt hook that doesn't work on NixOS
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
        pass_filenames: true

fix(audio/power): stabilize bluetooth audio and battery charging
  hosts/nixos/default.nix
  profiles/desktop/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock
  flake.lock.backup
Due: none

fix(bluetooth): disable WirePlumber auto headset profile switching
  profiles/desktop/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: remove 8 redundant CLI tools
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: remove 3 more redundant tools
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: remove redundant image viewers
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: keep feh as yazi secondary opener, remove sxiv
  docs/tools/yazi-file-associations.md
  modules/core/packages.nix
  modules/home-manager/file-management/yazi.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

feat(rebuild): add nom build visualization and polished UX
  modules/core/packages.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: resolve UI glitches in rebuild-nixos summary
  rebuild-nixos
Due: none

chore: update flake.lock and auto-generated files
  .claude/mcp-analytics.md
  .claude/permissions_auto_generated.md
  .claude/tool-analytics.md
  CHANGELOG.md
  CLAUDE.md
  flake.lock
Due: none

chore: remove redundant packages, exclude GNOME Showtime
  modules/core/packages.nix
  profiles/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(rebuild): use --out-link for nom build visualization
  rebuild-nixos
Due: none

chore: update auto-generated files
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CHANGELOG.md
  CLAUDE.md
  flake.lock
Due: none

fix(rebuild): clean nom output and zoxide shell integration
  modules/home-manager/shell/fish.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(llm): add context hook, session recording, and optimization notes
  flake.nix
  modules/core/packages.nix
  modules/home-manager/default.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(ci): add personal→master auto-sync with sanitization
  .github/workflows/sync-to-master.yml
Due: none

fix(ci): always sanitize CLAUDE.md USER_MEMORY section
  .github/workflows/sync-to-master.yml
Due: none

chore: remove machine-specific files from tracking
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .gitignore
  CLAUDE.md
  devenv.lock
  docs/assets/rebuild-demo.gif
  docs/assets/rebuild-demo.tape
Due: none

chore: update flake.lock and changelog
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .gitignore
  CLAUDE.md
  devenv.lock
  docs/assets/rebuild-demo.gif
  docs/assets/rebuild-demo.tape
  docs/tools/yazi-file-associations.md
  flake.lock
Due: check-markdown-frontmatter, check-temporal-markers

chore: gitignore machine-specific and demo files
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .gitignore
  CLAUDE.md
  devenv.lock
  docs/assets/rebuild-demo.gif
  docs/assets/rebuild-demo.tape
Due: none

docs(readme): reposition around permission learning
  README.md
Due: none

fix(changelog): use commit-based filtering instead of date-based
  rebuild-nixos
  scripts/generate-changelog-draft.sh
Due: check-hardcoded-usernames

chore(ci): disable master→personal sync workflow
  .github/workflows/sync-personal.yml.disabled
Due: none

chore(ci): remove old sync-personal workflow
  .github/workflows/sync-personal.yml
Due: none

feat(ci): handle file deletions in sync workflow
  .github/workflows/sync-to-master.yml
Due: none

fix(ci): use merge-base for diverged branch comparison
  .github/workflows/sync-to-master.yml
Due: none

fix(ci): allow workflow files through personal paths filter
  .github/workflows/sync-to-master.yml
Due: none

chore(ci): remove disabled sync-personal workflow
  .github/workflows/sync-personal.yml.disabled
Due: none

fix(ci): detect files only on master for deletion
  .github/workflows/sync-to-master.yml
Due: none

fix(rebuild): actually delete npm cache instead of fake clean
  rebuild-nixos
Due: none

fix: commit devenv.lock for reproducible environments
  .gitignore
  devenv.lock
Due: none

fix(ci): escape dots in skip patterns to not match devenv.lock
  .github/workflows/sync-to-master.yml
Due: none

fix(build): resolve GCC 15 and nixos-unstable build failures
  flake.nix
  hosts/nixos/default.nix
  modules/core/packages.nix
  profiles/desktop/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(packages): add uv package manager for MCP server support
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor(fish): migrate abbreviations to declarative shellAbbrs
  modules/home-manager/shell/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock and changelog
  CHANGELOG.md
  flake.lock
Due: none

fix(ci): add disk cleanup for performance benchmark
  .github/workflows/performance-bench.yml
Due: none

fix(ci): add --fallback and better error reporting for benchmark
  .github/workflows/performance-bench.yml
Due: none

fix(ci): make performance benchmark non-blocking on upstream issues
  .github/workflows/performance-bench.yml
Due: none

fix(direnv): add devenv hook for use_devenv support
  .claude/permissions_auto_generated.md
  CHANGELOG.md
  flake.lock
  modules/home-manager/development/tools.nix
Due: check-hardcoded-usernames, nixpkgs-fmt
