Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

fix: switch to kernel 6.18 + guided mode for Strix Point CPU fix
  modules/hardware/framework-16.nix
  modules/home-manager/claude-code/commands/nixos.md
  modules/home-manager/claude-code/company-config.json
  modules/home-manager/claude-code/company-policies.md
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: disable broken autoUpgrade that caused emergency mode on boot
  hosts/common/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: replace ama-biz-001 placeholder hardware-config with real one
  hosts/ama-biz-001/hardware-configuration.nix
Due: check-hardcoded-usernames

fix: WiFi recovery after resume + preventive iGPU CWSR workaround
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: force RustDesk to X11 backend to bypass Wayland screen-share dialog
  flake.nix
  modules/common/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: correct ama-biz-001 hardware-config UUIDs from /etc/nixos original
  hosts/ama-biz-001/hardware-configuration.nix
Due: check-hardcoded-usernames

feat: backup all Chrome profiles (bookmarks, passwords, cookies, extensions)
  modules/home-manager/cloud-storage/backup-sync.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add --business mode to restore-machine, upgrade Chrome restore
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames

fix: replace eog/gedit/evince with modern alternatives
  modules/common/packages.nix
  modules/core/packages.nix
  modules/home-manager/file-management/yazi.nix
  profiles/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Maestral Dropbox client for business hosts
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs (claude-code-nix, code-cursor-nix, home-manager)
  flake.lock
Due: none

docs: update changelog with recent fixes and additions
  CHANGELOG.md
Due: none

refactor: extract Claude Code config into shared module
  modules/business/home-manager/default.nix
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: restore hp-pietro username for ama-biz-001 + register JetBrains font
  flake.nix
  profiles/desktop/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: Chrome extension policies, username, fonts for ama-biz-001
  flake.nix
  modules/business/chrome-extensions.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: correct /boot partition UUID for ama-biz-001 (00D2-88F6 → 00D2-8BF6)
  hosts/ama-biz-001/hardware-configuration.nix
Due: check-hardcoded-usernames

feat: replace Okular with Foliate and Apostrophe
  modules/core/packages.nix
  modules/home-manager/file-management/yazi.nix
  profiles/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Apostrophe and Foliate for business users
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add Show HN post draft and launch strategy
  docs/plans/2026-03-04-show-hn-post-design.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add rclone Google Drive mount to business profile
  modules/business/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add smart-office-open to business profile
  modules/business/home-manager/default.nix
  modules/home-manager/default.nix
  modules/home-manager/desktop/smart-office-open.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: prevent SIGPIPE (exit 141) in rebuild-nixos test build pipeline
  flake.lock
  rebuild-nixos
Due: shellcheck

docs: simplify business-template CLAUDE.md for end users
  hosts/business-template/CLAUDE.md
Due: none

feat: add business-specific CLAUDE.md policies with branch+PR workflow
  modules/business/home-manager/business-policies.md
  modules/business/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: move Show HN post draft to amatino/yc-application
  docs/plans/2026-03-04-show-hn-post-design.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add vibetyper speech-to-text to all business hosts
  flake.nix
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add mistral and smart office
  CHANGELOG.md
  flake.lock
  modules/business/packages.nix
  modules/home-manager/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: remove flake.lock.backup from dependency update workflow
  .github/workflows/update-dependencies.yml
Due: none

feat: auto-detect business hosts and skip admin phases in rebuild-nixos
  rebuild-nixos
Due: shellcheck

feat: wrap maestral-gui with GTK schemas, add appindicator, update vibetyper
  modules/business/packages.nix
  modules/home-manager/desktop/gnome.nix
  pkgs/vibetyper.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor: use claude rules instead of mkForce for business CLAUDE.md
  modules/business/home-manager/business-workflow.md
  modules/business/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add LSP servers for Claude Code plugins (tech profile only)
  modules/home-manager/default.nix
  modules/home-manager/development/lsp.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock
Due: none

fix: remove auto-cd from claude/gemini shell functions
  modules/business/home-manager/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Claude Code guardrail hooks for business profile
  modules/business/home-manager/business-workflow.md
  modules/business/home-manager/default.nix
  modules/business/home-manager/hooks/guardrail.sh
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Claude Code guardrail hooks for business profile
  modules/business/home-manager/hooks/guardrail.sh
Due: check-hardcoded-usernames

fix: enforce mandatory branch creation before any edits
  modules/business/home-manager/business-workflow.md
Due: none

chore: update deps, changelog, and ghostty scrollback/scroll config
  CHANGELOG.md
  devenv.lock
  devenv.yaml
  flake.lock
  modules/home-manager/terminal/ghostty.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
