Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

.pre-commit-config.yaml:

# Pre-commit hooks for NixOS configuration quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard hooks for file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
        files: \.(yaml|yml)$
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # NixOS-specific: Use system-installed tools instead of downloading
  # These are already available via your NixOS packages
  # Note: markdownlint removed (not in system packages, can be added if needed)

  # Local custom hooks
  - repo: local
    hooks:
      # Check for required YAML frontmatter in documentation
      - id: check-markdown-frontmatter
        name: Check Markdown frontmatter
        entry: python3 scripts/check-frontmatter.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Warn about temporal markers in documentation
      - id: check-temporal-markers
        name: Warn about temporal markers
        entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Check for hardcoded usernames (except in comments marked USER-SPECIFIC)
      - id: check-hardcoded-usernames
        name: Check for hardcoded usernames
        entry: bash -c 'if grep -nE "guyfawkes" "$@" | grep -v "USER-SPECIFIC" | grep -v "username = "; then echo "Found hardcoded username!"; exit 1; fi'
        language: system
        files: \.(nix|sh|fish)$
        pass_filenames: true

      # Format Nix files using system nixpkgs-fmt (installed via NixOS)
      # This replaces the remote nixpkgs-fmt hook that doesn't work on NixOS
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
        pass_filenames: true

fix: resolve pre-commit NixOS compatibility issue
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .pre-commit-config.yaml
  CLAUDE.md
  flake.lock
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(ci): resolve nix flake check failure in GitHub Actions
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .github/workflows/deploy-main.yml
  CLAUDE.md
Due: none

fix: replace deprecated pkgs.system with pkgs.stdenv.hostPlatform.system
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: resolve antigravity-nix narHash mismatch in rebuild script
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  rebuild-nixos
Due: none

chore: update flake locks and improve rebuild script
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  devenv.lock
  flake.lock
  rebuild-nixos
Due: none

chore: update flake locks and refresh analytics
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  rebuild-nixos
Due: none

chore: add openspec tool and simplify rebuild script
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  modules/core/packages.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: update script paths for claude-nixos-automation refactor
  rebuild-nixos
Due: none

chore: add OnlyOffice and improve rebuild GC output
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  modules/core/packages.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: use nix run for health check in rebuild script
  devenv.lock
  rebuild-nixos
Due: none

chore: update flake locks and refresh analytics
  .claude/mcp-analytics.md
  CLAUDE.md
  flake.lock
Due: none

feat: enable ADB for Android development
  hosts/nixos/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake locks and refresh MCP/tool analytics
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
Due: none

fix: use nix run for tool analytics invocation
  rebuild-nixos
Due: none

chore: update flake.lock and refresh analytics
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
Due: none

feat: add wl-clipboard and kooha, simplify fish config
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  modules/core/packages.nix
  modules/home-manager/shell/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: skip path inputs in update-dependencies workflow
  .github/workflows/update-dependencies.yml
Due: none

fix: convert path inputs to GitHub URLs for CI compatibility
  .github/workflows/update-dependencies.yml
  flake.lock
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock.backup
Due: none

feat: add changelog generation workflow to rebuild-nixos
  .claude/commands/changelog-update.md
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
  rebuild-nixos
  scripts/generate-changelog-draft.sh
Due: check-hardcoded-usernames

docs: refactor for GitHub discoverability
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  LICENSE
  README.md
  docs/assets/rebuild-demo.gif
  docs/assets/rebuild-demo.tape
Due: none

docs: emphasize intelligent automation over tool count
  CHANGELOG.md
  README.md
Due: none

docs: reorganize documentation structure and freshness cleanup
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/README.md
  docs/architecture/THE_CLOSED_LOOP.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/HN-POSSIBLE-STORY-1.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/HN-POSSIBLE-STORY-2.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/HN_LAUNCH_PLAN.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/README_REFACTORING_STRATEGY.md
  docs/archive/DESKTOP_ASSISTANT_PROJECT_SETUP.md
  docs/archive/GOOGLE_DRIVE_MCP_SETUP.md
  docs/archive/MCP_AND_N8N_ARCHITECTURE_ANALYSIS.md
  docs/guides/CICD_IMPLEMENTATION_GUIDE.md
  docs/guides/CICD_QUICK_START.md
  docs/integrations/CICD_DEVOPS_ASSESSMENT.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: add antigravity and missing AI tools to README
  README.md
Due: none

fix: correct broken THE_CLOSED_LOOP.md link in README
  README.md
Due: none

chore: update flake.lock and auto-generated files
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
Due: none

chore: update devenv.lock and remove stale message
  devenv.lock
  devenv.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs and auto-generated analytics
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  CLAUDE.md
  flake.lock
Due: none

fix: resolve critical issues from system review
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/AI_NIXOS_ECOSYSTEM_RESEARCH.md
  docs/archive/2025-10-planning/hn-post-and-readme-review/HN_LAUNCH_PLAN.md
  flake.lock
  modules/core/packages.nix
  modules/home-manager/shell/fish.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

chore: add branch sync automation
  .github/workflows/sync-personal.yml
  scripts/sync-branches.sh
Due: check-hardcoded-usernames

docs: add NixOS-Claude deep integration vision document
  docs/planning/active/NIXOS_CLAUDE_DEEP_INTEGRATION.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: remove personal system references from CLAUDE.md
  CLAUDE.md
Due: none

feat(rebuild): add automatic hook deployment to Phase 8
  rebuild-nixos
Due: none

docs: add branch strategy section to README
  README.md
Due: none

chore: update auto-generated files after rebuild
  .claude/mcp-analytics.md
  .claude/permissions_auto_generated.md
  .claude/tool-analytics.md
  CHANGELOG.md
  CLAUDE.md
  flake.lock
Due: none

feat(hardware): add ThinkPad power and GPU optimizations
  .claude/mcp-analytics.md
  .claude/permissions_auto_generated.md
  .claude/tool-analytics.md
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  flake.lock
  hosts/nixos/default.nix
  rebuild-nixos
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(hardware): remove thermald (ThinkPad DYTC handles thermals)
  hosts/nixos/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(hardware): tune i915 kernel params for video playback stability
  hosts/nixos/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt
