Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

docs: add Plasma 6 business desktop implementation plan
  docs/plans/2026-02-26-plasma-business-desktop-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: archive Plasma business desktop design
  docs/plans/2026-02-26-plasma-business-desktop-design.md
Due: check-markdown-frontmatter, check-temporal-markers

chore: change backup timer from every 30min to daily
  docs/guides/MACHINE_RESTORE.md
  modules/home-manager/cloud-storage/backup-sync.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

chore: remove bottom, comment out wireshark from system packages
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add ghostty terminal emulator to tech profile
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: handle exit code 4 from nixos-rebuild switch gracefully
  rebuild-nixos
Due: shellcheck

chore: update changelog and flake.lock
  CHANGELOG.md
  flake.lock
Due: none

feat: enable SSH on tech hosts with key-only auth
  hosts/common/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: remove Dash to Dock from tech profile (business-only)
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(tech-001): replace placeholder hardware config with actual values
  hosts/tech-001/default.nix
  hosts/tech-001/hardware-configuration.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add company prefixes to host names
  flake.nix
  hosts/ama-biz-001/default.nix
  hosts/ama-biz-001/hardware-configuration.nix
  hosts/ama-tech-001/default.nix
  hosts/ama-tech-001/hardware-configuration.nix
  hosts/tl-biz-001/default.nix
  hosts/tl-biz-001/hardware-configuration.nix
  hosts/tl-biz-003/default.nix
  hosts/tl-biz-003/hardware-configuration.nix
  hosts/tl-biz-004/default.nix
  hosts/tl-biz-004/hardware-configuration.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(framework-16): disable idle suspend and fix re-suspend loop
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add repo clone + data restore step to MACHINE_RESTORE.md
  docs/guides/MACHINE_RESTORE.md
  scripts/restore-machine.sh
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames

docs: add restore machine script design doc
  docs/plans/2026-02-26-restore-machine-script-design.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add restore-machine.sh for repo cloning + gitignored data restore
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames

feat: declare XDG user directories to prevent unwanted defaults
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: sync MACHINE_RESTORE.md to Drive backup root
  modules/home-manager/cloud-storage/backup-sync.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(ghostty): correct Catppuccin theme name
  modules/home-manager/terminal/ghostty.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

cleanup: remove vscode, kitty, and gnome-console
  modules/business/home-manager/default.nix
  modules/common/packages.nix
  modules/home-manager/default.nix
  modules/home-manager/terminal/ghostty.nix
  modules/home-manager/terminal/kitty.nix
  profiles/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(nvidia): switch to open kernel modules for RTX 5070 Blackwell GPU
  flake.lock
  hosts/common/default.nix
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: update changelog and bump claude-code-nix flake input
  CHANGELOG.md
  flake.lock
Due: none

fix: use correct repo name birthday-manager (not birthday-manager-ts)
  modules/home-manager/cloud-storage/backup-sync.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: add system config restore to restore-machine.sh (Phase 1)
  docs/guides/MACHINE_RESTORE.md
  scripts/restore-machine.sh
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames

feat: add automated verification phase to restore-machine.sh
  docs/guides/MACHINE_RESTORE.md
  scripts/restore-machine.sh
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames

fix: remove stale Chrome lock files during restore
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames

feat: backup and restore Simplify Gmail extension settings
  CHANGELOG.md
  flake.lock
  modules/home-manager/cloud-storage/backup-sync.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: auto-register SSH key with GitHub during restore
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames

feat: add gnupg to system packages
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock.backup
Due: none

feat: comprehensive backup coverage and restore fixes
  modules/home-manager/cloud-storage/backup-sync.nix
  modules/home-manager/development/tools.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

refactor: streamline framework-16 hardware config
  flake.lock
  modules/hardware/framework-16.nix
  modules/home-manager/cloud-storage/backup-sync.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

fix: skip volatile .claude files during backup sync
  modules/home-manager/cloud-storage/backup-sync.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add Pictures to backup, clean up stale Drive folders
  modules/home-manager/cloud-storage/backup-sync.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: set tl-biz-001 to Claude AI profile
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock
  flake.lock
Due: none

fix: remove stale claude-sandboxed/airgapped references
  CLAUDE.md
  README.md
Due: none

fix: prevent suspend loop on resume and tolerate Drive duplicates in restore
  modules/hardware/framework-16.nix
  modules/home-manager/desktop/gnome.nix
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

fix: remove security theater from rebuild, fix generation cleanup
  rebuild-nixos
  scripts/restore-machine.sh
Due: shellcheck, check-hardcoded-usernames

feat: fix Framework 16 performance — CPU, NVMe, video decode
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: resolve nodejs-slim ENOENT breaking all npx wrappers
  flake.lock
  hosts/common/base.nix
  modules/business/packages.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
