Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

.pre-commit-config.yaml:

# Pre-commit hooks for NixOS configuration quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard hooks for file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: (hardware-configuration\.nix|backlog\.md)
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: (hardware-configuration\.nix|backlog\.md)
      - id: check-yaml
        name: Check YAML syntax
        files: \.(yaml|yml)$
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # NixOS-specific: Use system-installed tools instead of downloading
  # These are already available via your NixOS packages
  # Note: markdownlint removed (not in system packages, can be added if needed)

  # Local custom hooks
  - repo: local
    hooks:
      # Shellcheck for bash scripts (uses system-installed shellcheck)
      - id: shellcheck
        name: Shellcheck (bash linting)
        entry: shellcheck -x
        language: system
        files: ^(rebuild-nixos|scripts/.*\.sh)$
        types: [file]

      # Check for required YAML frontmatter in documentation
      - id: check-markdown-frontmatter
        name: Check Markdown frontmatter
        entry: python3 scripts/check-frontmatter.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Warn about temporal markers in documentation
      - id: check-temporal-markers
        name: Warn about temporal markers
        entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
        language: system
        files: ^docs/.*\.md$
        pass_filenames: true

      # Check for hardcoded usernames (except in comments marked USER-SPECIFIC)
      - id: check-hardcoded-usernames
        name: Check for hardcoded usernames
        entry: bash -c 'for file in "$@"; do if grep -B3 -A1 "guyfawkes" "$file" | grep -qE "(USER-SPECIFIC|username = )"; then continue; else if grep -q "guyfawkes" "$file"; then echo "Found hardcoded username in $file"; grep -n "guyfawkes" "$file"; exit 1; fi; fi; done'
        language: system
        files: \.(nix|sh|fish)$
        exclude: ^pkgs/
        pass_filenames: true

      # Format Nix files using system nixpkgs-fmt (installed via NixOS)
      # This replaces the remote nixpkgs-fmt hook that doesn't work on NixOS
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
        exclude: hardware-configuration\.nix
        pass_filenames: true

chore: update flake.lock dependencies
  flake.lock
Due: none

docs: add bootstrap step and WiFi troubleshooting to INSTALL.md
  INSTALL.md
Due: none

chore: update flake inputs
  flake.lock
  flake.lock.backup
Due: none

feat: add business profile with symmetric mkTechHost/mkBusinessHost helpers
  flake.nix
  hosts/business-template/default.nix
  hosts/business-template/hardware-configuration.nix
  hosts/common/base.nix
  hosts/common/default.nix
  modules/business/chrome-extensions.nix
  modules/business/home-manager/default.nix
  modules/business/home-manager/fish.nix
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: remove Spec Kit, relax shellcheck CI, update flake deps
  .claude/commands/spec-feature.md
  .github/workflows/test.yml
  flake.lock
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: update README for tech/business profile architecture
  README.md
Due: none

refactor: rename hosts to model-user convention for fleet management
  README.md
  flake.nix
  hosts/framework-16-jacopo/default.nix
  hosts/framework-16-jacopo/hardware-configuration.nix
  hosts/thinkpad-x1-jacopo/default.nix
  hosts/thinkpad-x1-jacopo/hardware-configuration.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor: extract shared packages into modules/common/packages.nix
  modules/business/packages.nix
  modules/common/packages.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: migrate xorg libs, harden rebuild-nixos, fix shellcheck
  CHANGELOG.md
  flake.lock
  hosts/common/base.nix
  modules/home-manager/terminal/kitty.nix
  pkgs/google-antigravity/default.nix
  pkgs/pencil-dev.nix
  pkgs/vibetyper.nix
  rebuild-nixos
  scripts/generate-changelog-draft.sh
  scripts/review-files.sh
  tests/bash/rebuild-nixos/test-script-structure.bats
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: add business installer ISO with RustDesk, fix GC exit handling
  CHANGELOG.md
  flake.lock
  flake.nix
  modules/business/packages.nix
  rebuild-nixos
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

refactor: decouple rebuild-nixos from claude-nixos-automation
  rebuild-nixos
Due: shellcheck

docs: add remote business deployment guide, move RustDesk to common
  INSTALL.md
  flake.lock
  modules/business/packages.nix
  modules/common/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add hp-pietro host with bootstrap script for remote deployment
  flake.nix
  hosts/business-template/default.nix
  hosts/hp-pietro/default.nix
  hosts/hp-pietro/hardware-configuration.nix
  scripts/bootstrap-business.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: add playwright-mcp-bridge Chrome extension
  extensions/playwright-mcp-bridge/connect.html
  extensions/playwright-mcp-bridge/icons/icon-128.png
  extensions/playwright-mcp-bridge/icons/icon-16.png
  extensions/playwright-mcp-bridge/icons/icon-32.png
  extensions/playwright-mcp-bridge/icons/icon-48.png
  extensions/playwright-mcp-bridge/lib/background.mjs
  extensions/playwright-mcp-bridge/lib/ui/authToken.css
  extensions/playwright-mcp-bridge/lib/ui/authToken.js
  extensions/playwright-mcp-bridge/lib/ui/connect.js
  extensions/playwright-mcp-bridge/lib/ui/icon-16.png
  extensions/playwright-mcp-bridge/lib/ui/icon-32.png
  extensions/playwright-mcp-bridge/lib/ui/status.js
  extensions/playwright-mcp-bridge/manifest.json
  extensions/playwright-mcp-bridge/status.html
Due: none

chore: gitignore secrets, credentials, and shell dotfiles
  .gitignore
Due: none

docs: add NixClaw design document
  docs/plans/2026-02-14-nixclaw-design.md
  overlays/playwright-mcp-bridge.nix
  pkgs/claude-seccomp.nix
  vendor/seccomp-src/apply-seccomp.c
  vendor/seccomp-src/seccomp-unix-block.c
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs: add NixClaw implementation plan with 20 tasks across 10 phases
  docs/plans/2026-02-14-nixclaw-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: update NixClaw plans with MCP client, voice support, and corrected task numbering
  docs/plans/2026-02-14-nixclaw-design.md
  docs/plans/2026-02-14-nixclaw-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

chore: remove stale docs, dead scripts, and broken references
  .pre-commit-config.yaml
  docs/README.md
  docs/architecture/CLAUDE_ORCHESTRATION.md
  docs/architecture/THE_CLOSED_LOOP.md
  docs/integrations/CICD_DEVOPS_ASSESSMENT.md
  docs/integrations/CURSOR_AI_QUALITY_INTEGRATION.md
  flake.lock.backup
  scripts/add-frontmatter.py
  scripts/add-frontmatter.sh
  scripts/check-frontmatter.py
  templates/README.md
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames

chore: remove stale docs, dead scripts, and broken references
  docs/README.md
  docs/architecture/CLAUDE_ORCHESTRATION.md
  docs/architecture/THE_CLOSED_LOOP.md
  docs/integrations/CICD_DEVOPS_ASSESSMENT.md
  docs/integrations/CURSOR_AI_QUALITY_INTEGRATION.md
  flake.lock.backup
  scripts/add-frontmatter.py
  scripts/add-frontmatter.sh
  templates/README.md
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames

docs: add host rename and business ThinkPad setup design
  docs/plans/2026-02-15-host-rename-business-setup.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: add host rename implementation plan
  docs/plans/2026-02-15-host-rename-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

refactor: rename hosts to asset-tag convention (biz-NNN/tech-NNN)
  flake.nix
  hosts/biz-001/default.nix
  hosts/biz-001/hardware-configuration.nix
  hosts/biz-002/default.nix
  hosts/biz-002/hardware-configuration.nix
  hosts/tech-001/default.nix
  hosts/tech-001/hardware-configuration.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: migrate Claude sandbox to native bubblewrap+seccomp, update flake inputs
  CHANGELOG.md
  flake.lock
  hosts/common/default.nix
  modules/business/chrome-extensions.nix
  modules/business/packages.nix
  modules/core/packages.nix
  modules/home-manager/default.nix
  scripts/claude-autonomous.sh
  scripts/claude-morning-review.sh
  scripts/claude-night-batch.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

docs: add demo reports design for autonomous agents
  docs/plans/2026-02-15-demo-reports-design.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: add demo reports implementation plan
  docs/plans/2026-02-15-demo-reports-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

chore: sync from personal branch (sanitized)
  flake.lock
  hosts/tech-001/default.nix
  hosts/tech-001/hardware-configuration.nix
  modules/hardware/framework-16.nix
  pkgs/pencil-dev.nix
  pkgs/vibetyper.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: add git identity, gh credential helper, and Google DNS
  hosts/common/base.nix
  modules/home-manager/development/tools.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(autonomous): add demo report instructions to agent prompt
  scripts/claude-autonomous.sh
Due: shellcheck, check-hardcoded-usernames

feat(morning-review): add demo report detection helpers
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames

feat(morning-review): show demo report column in status table
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames

feat(morning-review): include demo reports in generated report
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames

refactor: use has_demo_report helper in morning review script
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames

fix: point nixclaw input to github:jacopone/nixclaw
  flake.lock
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(autonomous): add --ralph flag for iterative loop mode
  scripts/claude-autonomous.sh
Due: shellcheck, check-hardcoded-usernames

fix: use renamed Home Manager git settings options
  modules/home-manager/development/tools.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add README overhaul design for YC-ready public repos
  docs/plans/2026-02-16-readme-overhaul-design.md
Due: check-markdown-frontmatter, check-temporal-markers

chore: clean up chrome extensions and gitignore
  .gitignore
  hosts/common/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add README overhaul implementation plan (11 tasks)
  docs/plans/2026-02-16-readme-overhaul-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: rewrite README with Claude Code-native NixOS narrative
  README.md
Due: none
