Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

docs(plans): sandbox settings schema investigation finding
  docs/plans/2026-05-18-sandbox-schema-finding.md
Due: check-markdown-frontmatter, check-temporal-markers

docs(plans): address doc-review feedback on sandbox-schema-finding
  docs/plans/2026-05-18-sandbox-schema-finding.md
Due: check-markdown-frontmatter, check-temporal-markers

fix(claude-sandbox): migrate seccomp wiring to current settings schema
  modules/home-manager/claude-code/default.nix
  pkgs/claude-seccomp.nix
  tests/bash/sandbox/test-seccomp-active.bats
  vendor/seccomp-src/apply-seccomp.c
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: bump home-manager and ignore sandbox bind-mount leakage
  .gitignore
  flake.lock
Due: none

refactor(mcp): use Nix-pinned mcp-nixos wrapper instead of uvx @latest
  .mcp.json
Due: none

feat(claude-code): inject company policies via managed-settings.json
  hosts/common/base.nix
  modules/common/claude-code-managed.nix
  tests/bash/managed-settings/test-managed-settings.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor(claude-code): single source of truth for company policies
  modules/home-manager/claude-code/default.nix
  tests/bash/managed-settings/test-policy-source-of-truth.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(mcp): wire MCP-NixOS at project root, un-ignore .mcp.json
  .gitignore
  .mcp.json
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(claude-code): remove broken managed-settings schema keys
  modules/common/claude-code-managed.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(claude-code): add flake-debugger subagent
  modules/home-manager/claude-code/agents/flake-debugger.md
  tests/bash/subagents/test-frontmatter-valid.bats
Due: none

feat(claude-code): add package-finder subagent
  modules/home-manager/claude-code/agents/package-finder.md
  tests/bash/subagents/test-frontmatter-valid.bats
Due: none

feat(claude-code): add generation-differ subagent
  modules/home-manager/claude-code/agents/generation-differ.md
  tests/bash/subagents/test-frontmatter-valid.bats
Due: none

feat(claude-code): add supply-chain-auditor subagent
  modules/home-manager/claude-code/agents/supply-chain-auditor.md
  tests/bash/subagents/test-frontmatter-valid.bats
Due: none

feat(claude-code): deploy 4 custom subagents via home-manager
  modules/home-manager/claude-code/default.nix
  tests/bash/subagents/test-agents-deployed.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(claude-code): remove fake subagent frontmatter, fix stale refs
  modules/home-manager/claude-code/agents/flake-debugger.md
  modules/home-manager/claude-code/agents/generation-differ.md
  modules/home-manager/claude-code/agents/package-finder.md
  modules/home-manager/claude-code/agents/supply-chain-auditor.md
Due: none

feat(claude-code): statusline script + host-class environment file
  hosts/common/base.nix
  modules/common/host-class.nix
  modules/home-manager/claude-code/statusline.sh
  tests/bash/statusline/test-statusline-format.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(claude-code): wire statusline in settings.json merger
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(check-claude-config): skeleton for Phase 4 validator
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(check-claude-config): plugin version validity check
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(check-claude-config): validate symlinks in ~/.claude/
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(check-claude-config): parse and validate subagent frontmatter
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(check-claude-config): sandbox attestation check
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(check-claude-config): stale-file scan
  scripts/check-claude-config.sh
  tests/bash/check-claude-config/test-skeleton.bats
Due: shellcheck, check-hardcoded-usernames

feat(rebuild-nixos): replace Phase 4 stub with check-claude-config.sh
  rebuild-nixos
  tests/bash/rebuild-nixos/test-phase4-validator.bats
Due: shellcheck

docs(plans): Agent View pilot task definition (P1-1 log_event)
  docs/plans/2026-05-18-agent-view-pilot-task.md
Due: check-markdown-frontmatter, check-temporal-markers

docs(plans): Agent View pilot findings template
  docs/plans/2026-05-18-agent-view-pilot-findings.md
Due: check-markdown-frontmatter, check-temporal-markers

docs(plans): mark all 9 P0 items complete in audit changelog
  docs/plans/2026-05-18-claude-code-advancements-audit.md
Due: check-markdown-frontmatter, check-temporal-markers

chore(flake): deduplicate transitive inputs (-716/+39)
  flake.lock
Due: none

fix(rebuild-nixos): handle new nix derivation show envelope format
  rebuild-nixos
Due: shellcheck

fix(rebuild-nixos): tolerate per-derivation failures in --audit closure export
  rebuild-nixos
Due: shellcheck

docs(policies): document sandbox.enabled managed-settings precedence
  modules/home-manager/claude-code/company-policies.md
Due: none

feat(rebuild-nixos): add structured JSON event log + statusline last-status writes
  rebuild-nixos
  tests/bash/rebuild-nixos/test-event-log.bats
Due: shellcheck

fix(rebuild-nixos): restore admin-only gating for Phase 4 validator
  rebuild-nixos
Due: shellcheck

docs(plans): retarget Agent View pilot to follow-up #22-I1
  docs/plans/2026-05-19-agent-view-pilot-task.md
Due: check-markdown-frontmatter, check-temporal-markers

docs(plans): persist follow-ups queue for cross-session resume
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

fix(claude-code): preserve settings.json under home-manager dry-run
  modules/home-manager/claude-code/default.nix
  tests/bash/claude-settings/test-dry-run-safety.bats
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(plans): mark #18 done, add #25 sandbox-artifact teardown
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

feat(business): add PLAYWRIGHT_BROWSERS_PATH session variable
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(policies): context-aware checkpoint thresholds (1M window)
  modules/home-manager/claude-code/company-policies.md
Due: none

test(bash): harden BATS subagent and statusline tests
  tests/bash/statusline/test-statusline-format.bats
  tests/bash/subagents/test-agents-deployed.bats
  tests/bash/subagents/test-frontmatter-valid.bats
Due: none

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
