Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

chore: update shared chrome extensions list
  hosts/common/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: set CLAUDE_CODE_MAX_OUTPUT_TOKENS=64000 via Home Manager
  modules/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock and automation scripts
  flake.lock
  scripts/claude-autonomous.sh
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames

feat: headless Playwright + demo credentials for autonomous sessions
  overlays/playwright-cdp.nix
  scripts/claude-autonomous.sh
  scripts/claude-morning-review.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: add biz-003 MacBook Air T2 host with installer ISO
  flake.lock
  flake.nix
  hosts/biz-003/default.nix
  hosts/biz-003/hardware-configuration.nix
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor: replace bundled playwright-mcp-bridge with Chrome Web Store extension
  extensions/playwright-mcp-bridge/connect.html
  extensions/playwright-mcp-bridge/icons/icon-128.png
  extensions/playwright-mcp-bridge/icons/icon-16.png
  extensions/playwright-mcp-bridge/icons/icon-32.png
  extensions/playwright-mcp-bridge/icons/icon-48.png
  extensions/playwright-mcp-bridge/lib/background.mjs
  extensions/playwright-mcp-bridge/lib/ui/authToken.css
  extensions/playwright-mcp-bridge/lib/ui/authToken.js
  extensions/playwright-mcp-bridge/lib/ui/connect.js
  extensions/playwright-mcp-bridge/lib/ui/icon-16.png
  extensions/playwright-mcp-bridge/lib/ui/icon-32.png
  extensions/playwright-mcp-bridge/lib/ui/status.js
  extensions/playwright-mcp-bridge/manifest.json
  extensions/playwright-mcp-bridge/status.html
  hosts/common/default.nix
  modules/business/chrome-extensions.nix
  overlays/playwright-cdp.nix
  overlays/playwright-mcp-bridge.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: update changelog and life-context documentation
  CHANGELOG.md
  docs/life-context/README.md
  docs/life-context/commands.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: add ClaudeOS business self-service design
  docs/plans/2026-02-21-claudeos-business-design.md
  overlays/apple-bcm-firmware.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs: add ClaudeOS implementation plan
  docs/plans/2026-02-21-claudeos-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add fish greeting and claude alias for business users
  modules/business/home-manager/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add CLAUDE.md template for business self-service
  .gitignore
  hosts/business-template/CLAUDE.md
Due: none

docs: mark ClaudeOS design and implementation plans as active
  docs/plans/2026-02-21-claudeos-business-design.md
  docs/plans/2026-02-21-claudeos-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

fix: use GitHub-sourced Broadcom firmware for T2 Macs
  flake.nix
  hosts/biz-003/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: temporarily disable nixclaw path input
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(biz-003): hardware config and T2 optimizations
  flake.lock
  hosts/biz-003/hardware-configuration.nix
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(biz-003): hardware config and T2 optimizations
  hosts/biz-003/hardware-configuration.nix
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

Revert "fix(biz-003): hardware config and T2 optimizations"
  flake.lock
  hosts/biz-003/hardware-configuration.nix
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: track CLAUDE.md and strengthen git workflow rules
  .gitignore
  CLAUDE.md
Due: none

feat(biz-003): add zram + swapfile for 8GB RAM
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(biz-003): use renamed logind lid switch options
  modules/hardware/macbook-air-t2.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake.lock (remove nixclaw input)
  flake.lock
Due: none

feat: add Dash to Dock for macOS-style always-visible dock
  modules/home-manager/default.nix
  modules/home-manager/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix: configure gh as git credential helper for NixOS
  modules/home-manager/development/tools.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(biz-003): import Dash to Dock module in business profile
  modules/business/home-manager/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: update flake inputs
  flake.lock.backup
Due: none

fix: overlay for picosvg test failures and pymupdf4llm missing tabulate
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: remove pencil-dev design tool
  flake.nix
  modules/core/packages.nix
  overlays/pencil-dev.nix
  pkgs/gogcli.nix
  pkgs/pencil-dev.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs: add business AI profiles implementation plan
  docs/plans/2026-02-25-business-ai-profiles-implementation.md
Due: check-markdown-frontmatter, check-temporal-markers

docs: add business AI profiles design (Google/Claude/both per host)
  docs/plans/2026-02-25-business-ai-profiles-design.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add auto-backup timer and machine restore guide
  CHANGELOG.md
  docs/guides/MACHINE_RESTORE.md
  flake.lock
  modules/core/packages.nix
  modules/home-manager/cloud-storage/backup-sync.nix
  modules/home-manager/default.nix
  pkgs/vibetyper.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

feat: add biz-004 MacBook Air 7,2 (Early 2015) for bernie
  flake.nix
  hosts/biz-004/default.nix
  hosts/biz-004/hardware-configuration.nix
  modules/hardware/macbook-air-7.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add chrome-devtools-mcp to npm version pins
  modules/core/npm-versions.nix
  scripts/update-npm-versions.sh
Due: shellcheck, check-hardcoded-usernames, nixpkgs-fmt

feat: add aiProfile parameter to mkBusinessHost
  flake.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: conditional AI packages based on aiProfile
  modules/business/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: conditional Chrome extensions based on aiProfile
  modules/business/chrome-extensions.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: adaptive fish greeting and AI functions based on aiProfile
  modules/business/home-manager/fish.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat: add GEMINI.md business template for Google AI profile
  hosts/business-template/GEMINI.md
Due: none

docs: mark business AI profiles design as active
  docs/plans/2026-02-25-business-ai-profiles-design.md
Due: check-markdown-frontmatter, check-temporal-markers

feat: add auto-backup timer and machine restore guide
  docs/guides/MACHINE_RESTORE.md
  modules/home-manager/cloud-storage/backup-sync.nix
  rebuild-nixos
Due: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs: add Plasma 6 business desktop design
  docs/plans/2026-02-26-plasma-business-desktop-design.md
  modules/home-manager/terminal/ghostty.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
