Repository jacopone/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

shellcheck:
  name: Shellcheck (bash linting)
  entry: shellcheck -x
  language: system

check-markdown-frontmatter:
  name: Check Markdown frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system
  pass_filenames: true

check-temporal-markers:
  name: Warn about temporal markers
  entry: bash -c 'grep -nE "(Week [0-9]+|Phase [0-9]+|NEW 2025|ENHANCED|UPDATED)" "$@" || true'
  language: system
  pass_filenames: true

check-hardcoded-usernames:
  name: Check for hardcoded usernames
  ...

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

docs(agents): tighten subagent definitions (#21 I1-I6, M6-M7)
  modules/home-manager/claude-code/agents/flake-debugger.md
  modules/home-manager/claude-code/agents/generation-differ.md
  modules/home-manager/claude-code/agents/package-finder.md
  modules/home-manager/claude-code/agents/supply-chain-auditor.md
Due: none

docs(plans): mark #21 complete (subagent runtime quality)
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

refactor(rebuild-nixos): extract event-log helpers to lib/event-log.sh
  lib/event-log.sh
  rebuild-nixos
  tests/bash/rebuild-nixos/test-event-log.bats
Due: shellcheck, check-hardcoded-usernames

docs(plans): mark #24 I3 + M5 complete
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

docs(plans): re-frame #25 with accurate sandbox mechanism
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

chore(claude): unify handover policy to ~70% context fill
  modules/home-manager/claude-code/company-policies.md
Due: none

fix(framework-16): pin kernel to 6.18.20 for MT7925 BT regression
  flake.lock
  flake.nix
  modules/hardware/framework-16.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(ama-tech-001): open spontaneous-reboot investigation; capture reset reason
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
  hosts/ama-tech-001/crash-diagnostics.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

fix(gnome): drop removed gvfs googleSupport/libgdata override args
  profiles/desktop/gnome.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(packages): bump nodejs_20 -> nodejs_22 (Node 20 EOL/insecure)
  modules/business/home-manager/gstack-install.nix
  modules/business/packages.nix
  modules/common/packages.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(ama-tech-001): log reboot instance #7 — CF9 signature confirmed
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
  modules/home-manager/claude-code/default.nix
  modules/home-manager/claude-code/gstack-browse-libfix.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs(ama-tech-001): BIOS 03.06 deployed; observing for reboot recurrence
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
Due: check-markdown-frontmatter, check-temporal-markers

refactor(event-log): rename step_done → step_complete to match event name
  lib/event-log.sh
  rebuild-nixos
  tests/bash/rebuild-nixos/test-event-log.bats
Due: shellcheck, check-hardcoded-usernames

docs(event-log): explain two-sink status duality and now_ms wall-clock caveat
  lib/event-log.sh
Due: check-hardcoded-usernames

feat(statusline): annotate last-build status with age
  modules/home-manager/claude-code/statusline.sh
  tests/bash/statusline/test-statusline-format.bats
Due: check-hardcoded-usernames

test(event-log): consolidate per-field assertions with jq -e
  tests/bash/rebuild-nixos/test-event-log.bats
Due: none

docs(statusline): drop format_age scaffold TODO left above its implementation
  modules/home-manager/claude-code/statusline.sh
Due: check-hardcoded-usernames

feat(nix-ld): run Playwright's downloaded chromium for gstack browse
  hosts/common/default.nix
  modules/core/nix-ld.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

docs(followups): mark #24 polish items complete (I1/I2/M1/M2/I4)
  docs/plans/2026-05-19-followups-queue.md
Due: check-markdown-frontmatter, check-temporal-markers

feat(ama-biz-001): set PLAYWRIGHT_BROWSERS_PATH for gstack
  hosts/ama-biz-001/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(flake): bump 8 flake inputs (routine refresh)
  devenv.lock
  flake.lock
Due: none

chore(gitignore): exclude .gstack/ tooling state
  .gitignore
Due: none

chore(claude-code): effort max→medium to cut token burn
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore: bump flake inputs and configure auto-compact backstop
  flake.lock
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(claude-code): move effort tier from env var to launch-scoped settings.json
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(rebuild-nixos): keep set -e from aborting on non-zero Claude config validator
  rebuild-nixos
Due: shellcheck

feat(rebuild-nixos): add --gc standalone generation-cleanup mode
  rebuild-nixos
Due: shellcheck

perf(claude-code): route Task/Agent subagents to Sonnet by default
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(claude-code): move all Claude env vars to settings.json env (fish-proof)
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

refactor(claude-code): drop deprecated DISABLE_ADAPTIVE_THINKING override
  modules/home-manager/claude-code/default.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(packages): fix stale jinja2 comment in core/packages.nix
  modules/core/packages.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

fix(ama-tech-001): trace sync-flood reboot to WD SN7100 HMB firmware; add PCIe AER visibility
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
  hosts/ama-tech-001/crash-diagnostics.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

docs(ama-tech-001): firmware cure not on LVFS stable yet; pcie_ports=native is the interim fix
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
  hosts/ama-tech-001/crash-diagnostics.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

fix(ama-tech-001): trace sync-flood reboot to WD SN7100 HMB firmware; add PCIe AER visibility (#17)
  docs/plans/2026-05-22-strix-point-spontaneous-reboot-investigation.md
  hosts/ama-tech-001/crash-diagnostics.nix
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

fix(timezone): declare GNOME location + automatic-timezone via Home Manager
  modules/business/home-manager/default.nix
  modules/home-manager/default.nix
  modules/home-manager/desktop/automatic-timezone.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

chore(flake): update inputs (nixpkgs, home-manager, devenv, nix, *-nix tools)
  flake.lock
Due: none

fix(timezone): switch system clock source from localtimed to geoclue2
  hosts/common/base.nix
Due: check-hardcoded-usernames, nixpkgs-fmt

feat(claude-code): wire tech-profile hooks declaratively
  docs/plans/2026-06-08-tech-hooks-declarative-design.md
  modules/business/home-manager/default.nix
  modules/home-manager/claude-code/default.nix
  modules/home-manager/claude-code/hooks/memory-reminder.sh
Due: check-markdown-frontmatter, check-temporal-markers, check-hardcoded-usernames, nixpkgs-fmt

fix(ci): unblock weekly dependency update workflow (IFD + cachix cache)
  .github/workflows/update-dependencies.yml
Due: none

chore: update flake inputs
  flake.lock
Due: none

Path conditions:
  shellcheck: any of: ^(rebuild-nixos|scripts/.*\.sh)$
  check-markdown-frontmatter: any of: ^docs/.*\.md$
  check-temporal-markers: any of: ^docs/.*\.md$
  check-hardcoded-usernames: any of: \.(nix|sh|fish)$, but not: ^pkgs/
  nixpkgs-fmt: any of: \.nix$, but not: hardware-configuration\.nix
